In [5]:
import pandas as pd
data = pd.read_csv(r'E:\Repo\repo9-作业\数据库\机票信息.csv', index_col=0,header=None)
data.head()

,1,2,3,4,5,6,7,8,9,10,...,53,54,55,56,57,58,59,60,61,62
0,,,,,,,,,,,,,,,,,,,,,
2020-08-01,880,440,870,440,673,440,870,488,730,400,...,488,870,440,440,673,440.0,440.0,440.0,600.0,NaN
2020-08-02,880,440,700,440,673,568,440,440,870,1040,...,568,440,440,440,600,NaN,NaN,NaN,NaN,NaN
2020-08-03,880,440,1610,440,773,650,488,440,730,1610,...,440,673,488,440,440,440.0,600.0,NaN,NaN,NaN
2020-08-04,880,490,1610,490,773,490,490,1190,488,730,...,1040,650,640,673,490,490.0,490.0,600.0,NaN,NaN
2020-08-05,880,490,1610,490,773,568,1190,490,730,820,...,1190,1610,1080,910,873,568.0,490.0,490.0,490.0,600.0

In [6]:
import numpy as np
data['pr'] = np.mean(data)

In [18]:
a = list(data.iloc[1,:])[-1]

In [20]:
type(a)

float

In [21]:
isnan(a)

NameError: name 'isnan' is not defined

In [22]:
import math

math.isnan(a)

True

In [25]:
price_list = []
for i in range(0,len(data)):
    price = []
    for j in list(data.iloc[i,:]):
        if math.isnan(j) != True:
            price.append(j)
    price_list.append(price)

In [34]:
mean_pr = []
for i in price_list:
    print(np.mean(i))
    mean_pr.append(np.mean(i))

741.9508196721312
932.2631578947369
903.542372881356
986.15
1100.9516129032259
1115.9
1333.7796610169491
766.7868852459017
951.1228070175439
924.9830508474577
986.7333333333333
1101.516129032258
1115.9
1334.1694915254238
766.7868852459017
950.1578947368421
924.9830508474577
986.7333333333333
1101.516129032258
1121.0666666666666
1334.5254237288136
766.7868852459017
949.5964912280701
922.9491525423729
983.7333333333333
1099.5806451612902
1113.9
1331.406779661017
756.2950819672132
945.3333333333334
922.9491525423729

In [37]:
data = pd.DataFrame(mean_pr)
data.index = pd.date_range('8/1/2020',periods=31,freq='D')

In [40]:
data.to_csv('机票价格N.csv',header=None,encoding='utf-8_sig')

In [32]:
data['pr'] = mean_pr

In [33]:
data['pr']

0
2020-08-01     741.950820
2020-08-02     932.263158
2020-08-03     903.542373
2020-08-04     986.150000
2020-08-05    1100.951613
2020-08-06    1115.900000
2020-08-07    1333.779661
2020-08-08     766.786885
2020-08-09     951.122807
2020-08-10     924.983051
2020-08-11     986.733333
2020-08-12    1101.516129
2020-08-13    1115.900000
2020-08-14    1334.169492
2020-08-15     766.786885
2020-08-16     950.157895
2020-08-17     924.983051
2020-08-18     986.733333
2020-08-19    1101.516129
2020-08-20    1121.066667
2020-08-21    1334.525424
2020-08-22     766.786885
2020-08-23     949.596491
2020-08-24     922.949153
2020-08-25     983.733333
2020-08-26    1099.580645
2020-08-27    1113.900000
2020-08-28    1331.406780
2020-08-29     756.295082
2020-08-30     945.333333
2020-08-31     922.949153
Name: pr, dtype: float64