In [1]:
## csv和excel 不一样 
import os
os.getcwd()
path = r'E:\Repo\repo5-上课360'
os.chdir(path)
os.getcwd()

'E:\\Repo\\repo5-上课360'

In [2]:
import pandas as pd
data = pd.read_csv('上海.csv',header=None)
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [17]:
## List 取日期 但是现在是str ；
for i in data[0]:
    date = i.split('\t')[0]
    #print(date,type(date))
    

##无法从April-15格式转为2015-4-30,因此截取首部生成一系列时间戳。
datelist = pd.date_range(start='4/1/2015', periods=61,freq='M').tolist()

In [11]:
##List 取值操作
zhi = []
for i in range(len(data)):
    #print(data.loc[i][0],'-->',data.loc[i][1])
    a = data.loc[i][0]
    b = data.loc[i][1]
    aa = a.split('\"')
    #print(aa[1])
    bb = b.split('\"')
    #print(bb[0])
    print('拼接',aa[1]+bb[0])
    print('拼接完成-----')
    zhi.append(int(aa[1]+bb[0]))

拼接 54036
拼接完成-----
拼接 55215
拼接完成-----
拼接 50433
拼接完成-----
拼接 50773
拼接完成-----
拼接 48889
拼接完成-----
拼接 53044
拼接完成-----
拼接 53742
拼接完成-----
拼接 53832
拼接完成-----
拼接 53775
拼接完成-----
拼接 55070
拼接完成-----
拼接 55703
拼接完成-----
拼接 49993
拼接完成-----
拼接 52544
拼接完成-----
拼接 51187
拼接完成-----
拼接 42444
拼接完成-----
拼接 49601
拼接完成-----
拼接 47895
拼接完成-----
拼接 55378
拼接完成-----
拼接 60409
拼接完成-----
拼接 50719
拼接完成-----
拼接 50769
拼接完成-----
拼接 51626
拼接完成-----
拼接 51033
拼接完成-----
拼接 51697
拼接完成-----
拼接 50935
拼接完成-----
拼接 52449
拼接完成-----
拼接 55911
拼接完成-----
拼接 52427
拼接完成-----
拼接 50336
拼接完成-----
拼接 49564
拼接完成-----
拼接 50783
拼接完成-----
拼接 57636
拼接完成-----
拼接 58112
拼接完成-----
拼接 55596
拼接完成-----
拼接 53838
拼接完成-----
拼接 52381
拼接完成-----
拼接 52813
拼接完成-----
拼接 46483
拼接完成-----
拼接 45264
拼接完成-----
拼接 44321
拼接完成-----
拼接 43980
拼接完成-----
拼接 44132
拼接完成-----
拼接 44023
拼接完成-----
拼接 44144
拼接完成-----
拼接 43681
拼接完成-----
拼接 40344
拼接完成-----
拼接 39712
拼接完成-----
拼接 39750
拼接完成-----
拼接 38747
拼接完成-----
拼接 36054
拼接完成-----
拼接 34604
拼接完成-----
拼接 33946
拼接完成-----
拼接 32734
拼接完成-----
拼接 31532
拼接完成-----
拼接 30384
拼接完成-----
拼接 30826
拼接完成-----
拼接 30732
拼接完成-----
拼接 29929
拼接完成-----
拼接 29966
拼接完成-----
拼接 28889
拼接完成-----
拼接 28889
拼接完成-----

In [24]:
zong = dict(zip(datelist,zhi[::-1])) ##两个list合并成一个dict
data = pd.DataFrame(zong,index=[0]).T  ##一个dict转化为dataframe

In [25]:
data ##数据合并完成

                0
2015-04-30  28889
2015-05-31  28889
2015-06-30  29966
2015-07-31  29929
2015-08-31  30732
...           ...
2019-12-31  48889
2020-01-31  50773
2020-02-29  50433
2020-03-31  55215
2020-04-30  54036

[61 rows x 1 columns]